body {
    display: flex;
    flex-direction: column;

}
.header {
   
}
.header-logo {
    color: #f9faf8;
    font-size: 24px;
 
}


.header-links, .hero-secondary {
    color: #e5e7eb;
    font-size: 18px;
}
.hero {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}
.hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 400px;
    gap:10px;
    
}
.hero-img {
    display: flex;
    width: 500px;
    background-color: grey;
    height: 200px;    
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
}
.container {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-top: 16px;
    gap: 500px;
    
    

}
ul {
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    gap: 8px

}
.header, .footer {
    background-color: #1f2937;
    
}
button {
    padding: 16px 32px;
  border-radius: 16px;
}
.sign-up {
    background-color:#3882F6;
    border-color:#3882F6;
    border-radius: 10px;
    color:#F9FAF8;
    padding:0;
    width:100px;
    height:30px;
}
.quote {
    margin: 100px;
}
.quote-title {
    display: flex;
   font-size: 36px;
   font-weight: bolder;
   color: #1f2937;
   justify-content: center;
   padding-bottom: 50px;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    padding: 10px;
   
}
   
.info {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    align-items: center;
    gap:25px;
    justify-content: center;
    
}
.card-img {
    border-style: solid;
    border-radius: 15px;
    border-color: #3882F6;
    border-width: 5px;
    height: 100px;
    width: 100px;
}
.quotetext {
    display: flex;
    color: #1f2937;
    font-size: 36px;
    font-style:italic;
    background-color:#e5e7eb ;
    justify-content: center;
    padding: 100px;
}
.quote1 {
    display: flex;
   
    
    max-width: 600px;
}